DECODE_EEG_Ericsson.zip
TAPProject_SampleScripts_with_Pex_changes.zip
Originalstuff/*
Fieldtrip/*

to_xavante/**
!\to_xavante/TAPProject_SampleScripts/**

data/**

MatlabRun100Permdata/

**/Visual

**/profile

**/ReadMe.txt

ClassifierFromMatlabDataPartition
**/Matlab100RunLabWithOtherData

**/__pycache__/

**/zips/*


**/Old/
**/Plotting/
**/test/

CleanData.zip
Profiles/
test.mat
**/Orchestration/**
**.egg_info**

*.zip
*.pkl
*.mat
*.7z
*.prof


*/mvpa_datapartitionFake.m
*/TestDo11.m
*/mvpa_Xavante.egg-info/
*/DO10PrepNewProfsave/*
WorkSpace.code-workspace

**/Do11NoPart.py